/* 프로필 */
.profileInfo {
    margin-bottom: 30px;
    padding: 20px 20px 0;
}
.profileInfo-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}
.profileInfo .profileCard-img {
    margin-right: 27px;
    width: 80px;
    height: 80px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    -o-background-size: 80px 80px;
    background-size: 80px 80px;
}
.profileCard-img, .profileCard-img img {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.profileCard-img {
    position: relative;
    overflow: visible;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-image: url(/resources/images/profile-default-img.svg);
    background-size: 50px 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.profileCard-img img {
    height: 100%;
    line-height: 1;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    background: #fff;
}
.profileCard-changeBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    width: 27px;
    height: 27px;
    -webkit-background-size: 27px 27px;
    -moz-background-size: 27px 27px;
    -o-background-size: 27px 27px;
    background-size: 27px 27px;
    background-image: url(/resources/images/img-change.svg);
}
.profileInfo-score {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
}
.profileInfo-scoreItem {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.profileInfo-scoreNo {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.profileInfo-scoreText {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #333;
}
.profileInfo-nickName {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 400;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 54px;
    line-height: 18px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    white-space: inherit;
}
.profileInfo-btnBox {
    margin-top: 20px;
    text-align: center;
}
.profileInfo-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #ddd;
    width: 45%;
    height: 45px;
    margin: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
}
/* 설정 */
.setting-all {
    padding: 6px 0 5px;
    border-bottom: 1px solid #f0f0f0;
}
.setting-list {
    padding: 10px 0 10px 20px;
}
.setting-switch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 20px 7px;
}
.setting-switch .title {
    display: inline-block;
    font-size: 14px;
    color: #333;
    line-height: 2;
}
.checkbox-switch {
    position: absolute;
    opacity: 0;
}
input:checked+.label-switch {
    background: #3b416c;
}
input:checked+.label-switch:before {
    left: -webkit-calc(100% - 30px);
    left: -moz-calc(100% - 30px);
    left: calc(100% - 30px);
}
.label-switch {
    display: inline-block;
    position: relative;
    width: 51px;
    height: 31px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    font-size: 0;
    text-indent: -9999px;
    vertical-align: top;
    background: #f0f0f0;
}
.label-switch:before {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 29px;
    height: 29px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,.05);
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%);
    border: 1px solid rgba(0,0,0,.01);
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    -moz-transition: left .3s ease;
    transition: left .3s ease;
}
/* 편집 */
.profileEdit {
    padding: 20px 20px 30px;
    text-align: center;
}
.profileEdit .profileCard-img{
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -o-background-size: 100px 100px;
    background-size: 100px 100px;
}
.profileEdit-field {
    margin-bottom: 40px;
    padding: 0 20px;
}
.profileEdit-titleBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.profileEdit-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}
.profileEdit-field .btnContained {
    font-size: 14px;
    font-weight: 400;
}
/* 이미지 편집 */
.profile-select {
    display: grid;
    grid-template-columns: repeat(4,auto);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-row-gap: 20px;
    row-gap: 20px;
    padding: 30px 20px;
}
.profile-selectItem.on {
    position: relative;
}
.profile-selectItem.on:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 86px;
    height: 86px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 4px solid #3a416f;
    background: transparent;
}
.profile-selectItem, .profile-selectItem img {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.profile-selectItem {
    position: relative;
    overflow: visible;
    width: 92px;
    height: 92px;
    -webkit-background-size: 92px 92px;
    -moz-background-size: 92px 92px;
    -o-background-size: 92px 92px;
    background-size: 92px 92px;
    background-image: url(/resources/images/profile-default-img.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.profile-selectItem img {
    width: 100%;
    height: 100%;
    line-height: 1;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
/* 친구 */
.friendCard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.friendCard-list {
    padding-left: 20px;
    padding-right: 20px;
}
.friendCard-info {
    cursor: pointer;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-left: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    word-break: keep-all;
}
.friendCard-friendName {
    margin-right: 4px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    font-weight: 700;
}
.friendCard-side {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 70px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.friendCard-side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.friendCard-list .friendCard-btn-message {
    color: #004eff;
    background: rgba(0,78,255,.08);
}
.friendCard-list .friend-btn {
    width: 54px;
    height: 27px;
    line-height: 26px;
    font-size: 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid transparent;
}
.friendCard-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}