/* 프로필 */
.profileInfo {
    margin-bottom: 30px;
    padding: 20px 20px 0;
}

.profileInfo-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 14px;
}

.profileInfo .profileCard-img {
    margin-right: 27px;
    width: 80px;
    height: 80px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    -o-background-size: 80px 80px;
    background-size: 80px 80px;
}

.profileCard-img, .profileCard-img img {
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.profileCard-img {
    position: relative;
    overflow: visible;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -o-background-size: 50px 50px;
    background-size: 50px 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.profileCard-img img {
    height: 100%;
    line-height: 1;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
    background: #fff;
}

.profileInfo-score {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
}

.profileInfo-scoreItem {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.profileInfo-scoreNo {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.profileInfo-scoreText {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.profileInfo-btnBox {
    margin-top: 20px;
    text-align: center;
}

.profileInfo-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #ddd;
    width: 45%;
    height: 45px;
    margin: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    background-color: #fff;
}

/* 설정 */
.setting-all {
    padding: 6px 0 5px;
    border-bottom: 1px solid #f0f0f0;
}

.setting-list {
    padding: 10px 0 10px 20px;
}

.setting-switch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 20px 7px;
}

.setting-switch .title {
    display: inline-block;
    font-size: 14px;
    color: #333;
    line-height: 2;
}

.checkbox-switch {
    position: absolute;
    opacity: 0;
}

input:checked+.label-switch {
    background: #3b416c;
}

input:checked+.label-switch:before {
    left: -webkit-calc(100% - 30px);
    left: -moz-calc(100% - 30px);
    left: calc(100% - 30px);
}

.label-switch {
    display: inline-block;
    position: relative;
    width: 51px;
    height: 31px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    font-size: 0;
    text-indent: -9999px;
    vertical-align: top;
    background: #f0f0f0;
}

.label-switch:before {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 29px;
    height: 29px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,.05);
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%);
    border: 1px solid rgba(0,0,0,.01);
    -webkit-transition: left .3s ease;
    -o-transition: left .3s ease;
    -moz-transition: left .3s ease;
    transition: left .3s ease;
}

/* 친구 */

.friendCard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.friendCard-list {
    padding-left: 20px;
    padding-right: 20px;
}

.friendCard-info {
    cursor: pointer;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-left: 10px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    word-break: keep-all;
}

.friendCard-friendName {
    margin-right: 4px;
    font-size: 14px;
    line-height: 1;
    color: #000;
    font-weight: 700;
}